@import "./_variables";

nav {
  background-color: $dark-grey;

  a {
    color: $aqua-spring;
  }
}

nav.navbar.navbar-default {
  display: inline-block;

  a {
    font-family: $font-headings;
  }

  li > a:hover {
    border-bottom: $orange;
  }
}

button.navbar-toggler {
  float: right;
  background-color: $aqua-spring;
}
