// **** Fonts ****** //
$font-headings: 'Oxygen', sans-serif;
$font-body: 'Lora', serif;

// **** Colours ****** //
$orange: rgba(241, 80, 37, 1);
$white: rgba(255, 255, 255, 1);
$aqua-spring: rgba(230, 232, 230, 1);
$light-grey: rgba(206, 208, 206, 1);
$dark-grey: rgba(25, 25, 25, 1);
