@import '../_partials/variables';

button {
  background: none;
  border: 0;
  box-shadow: inset 0 0 0 2px $orange;
  box-sizing: border-box;
  color: $orange;
  font-size: inherit;
  font-weight: 700;
  left: 50%;
  margin: 1em;
  margin-right: -50%;
  padding: 1em 2em;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  transform: translate(-50%);
  vertical-align: middle;

  &::before,
  &::after {
    box-sizing: border-box;
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

.draw {
  transition: color .25s;

  &::before,
  &::after {
    border: 2px solid transparent;
    height: 0;
    width: 0;
  }

  &::before {
    left: 0;
    top: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
  }

  &:hover {
    color: $cyan;
  }

  &:hover::before,
  &:hover::after {
    height: 100%;
    width: 100%;
  }

  &:hover::before {
    border-right-color: $cyan;
    border-top-color: $cyan;
    transition:
      height .25s ease-out .25s,
      width .25s ease-out;
  }

  &:hover::after {
    border-bottom-color: $cyan;
    border-left-color: $cyan;
    transition:
      border-color 0s ease-out .5s,
      width .25s ease-out .5s,
      height .25s ease-out .75s;
  }
}

.meet {
  &:hover {
    color: $blue;
  }

  &::after {
    left: 0;
    top: 0;
  }

  &:hover::before {
    border-right-color: $blue;
    border-top-color: $blue;
  }

  &:hover::after {
    border-bottom-color: $blue;
    border-left-color: $blue;
    transition: // Animate height first, then width
      height .25s ease-out,
      width .25s ease-out .25s;
  }
}

.talk-btn {
  margin-top: 2em;
}
