@import '../_partials/variables', '../_partials/mixins';

footer {
  align-items: center;
  background: $gradient-blue;
  background: -webkit-linear-gradient(to right, $gradient-silver, $gradient-blue);
  background: linear-gradient(to right, $gradient-silver, $gradient-blue);
  bottom: 0;
  clear: both;
  color: $light-grey;
  display: flex;
  font-family: $font-headings;
  justify-content: center;
  margin-top: -5em;
  position: relative;
  z-index: 10;

  ul {
    list-style: none;
  }

  a {
    color: $light-grey;

    &:hover {
      @include border-bottom-radius(0);
      border-bottom: solid 1px $aqua-spring;
      color: $orange;
      text-decoration: none;
    }
  }
}

.sitemap {
  -moz-columns: 2;
  -webkit-columns: 2;
  columns: 2;
}

.footer-social::first-letter {
  text-transform: uppercase;
}

.footer {
  color: $orange;
}
