@import '../_partials/variables', '../_partials/mixins';

footer {
  align-items: center;
  background: $gradient-blue;
  background: -webkit-linear-gradient(to right, $gradient-silver, $gradient-blue);
  background: linear-gradient(to right, $gradient-silver, $gradient-blue);
  bottom: 0;
  clear: both;
  color: $light-grey;
  display: flex;
  font-family: $font-headings;
  justify-content: center;
  padding-top: 2em;
  position: relative;

  ul.sitemap {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
  }

  ul.sitemap li {
    flex: 0 0 calc(50% - 10px);
  }

  a {
    color: $light-grey;

    &:hover {
      @include border-bottom-radius(0);
      border-bottom: solid 1px $aqua-spring;
      color: $orange;
      text-decoration: none;
    }
  }

  ul.footer-list {
    padding: 0;
  }

  ul.footer-list li.footer-social{
    text-transform: capitalize;
  }

  .footer {
    color: $orange;
    font-size: 15px;
  }
}

