@import '../_partials/variables', '../_partials/mixins';

.active {
  border-bottom: solid 1px $orange;
}

nav {
  background: #283048;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: block;

  a {
    color: $aqua-spring;
    font-family: $font-headings;

    &:hover {
      @include border-bottom-radius(0);
      border-bottom: solid 1px $aqua-spring;
      color: $orange;
      text-decoration: none;
    }

    &.navbar-brand {
      color: $orange;

      &:hover {
        border-bottom: solid 1px $orange;
        color: $aqua-spring;
      }
    }
  }
}

button.navbar-toggler {
  background-color: $aqua-spring;
}
