<section id="talks" class="container-fluid vertical-center">
<h1>Public Speaking</h1>
<div class="row row-flex row-flex-wrap">
    <div class=" col-md-4 col-sm-12 col-xs-12 community-group">
      <div class="panel panel-default flex-col">
        <div class="panel-heading">Intersectionality in Technology</div>
          <div class="panel-body flex-grow">
            <a href="https://tanyapowell.co.uk/intersectionality-in-tech/#/"><img class="vol-img" src="img/intersectionality.jpg"></a>
          </div>
        <div class="panel-footer">
          <p style="text-align: center">Delivered at <a href="https://www.ladiesofcode.com/">Ladies of Code</a> and <a href="https://www.womenwhocode.com/">Women Who Code</a></p>
        </div>
      </div>
    </div>
    <div class=" col-md-4 col-sm-12 col-xs-12 community-group">
      <div class="panel panel-default flex-col">
        <div class="panel-heading">Keeping your codebase as cool as a Cucumber</div>
          <div class="panel-body flex-grow">
            <a href="https://tanyapowell.co.uk/intro-to-bdd-talk/#/"><img class="vol-img" src="img/bdd.jpg"></a>
          </div>
          <div class="panel-footer">
            <p style="text-align: center">Delivered at <a href="https://codebar.io/">Codebar</a></p>
          </div>
      </div>
    </div>
    <div class=" col-md-4 col-sm-12 col-xs-12 community-group">
      <div class="panel panel-default flex-col">
        <div class="panel-heading">Diversity.js</div>
          <div id="blackgirltech" class="panel-body flex-grow"></div>
          <div class="panel-footer">
            <p style="text-align: center"></p>
          </div>
      </div>
    </div>
</div>
</section>
