@import '_components/footer', '_components/navbar', '_components/buttons',
        '_partials/imports', '_partials/variables', '_partials/pages/pages',
        '_partials/mixins';

#root {
  height: 100%;
}

.heading {
  font-family: $font-headings;
  padding-top: 1em;
  text-align: center;
}

.page-header {
  font-family: $font-headings;
  padding-bottom: 3em;
  text-align: center;
}

body {
  padding-top: 50px;

  > .page-wrap {
    height: auto;
    min-height: 100%;
  }
}

p {
  font-size: 18px;
}

.justified {
  text-align: justify;
}

.center {
  text-align: center;
}

div.container-fluid {
  padding: 0;
}

.wrapper {
  font-family: $font-body;
  padding-bottom: 3em;
}
