@import "_components/_footer", "_components/_navbar", "_components/_buttons",
        "_partials/_imports", "_partials/_variables", "_partials/pages/_pages",
        "_partials/_mixins";

html, body, .page-wrap, #root {
  height: 100%;
}

.heading {
  font-family: $font-headings;
  padding-top: 1em;
  text-align: center;
}

.page-header{
  font-family: $font-headings;
  text-align: center;
  padding-bottom: 3em;
}

body {
  padding-top: 50px;
}

body > .page-wrap {
  height: auto;
  min-height: 100%;
}

p {
  font-size: 18px;
}

.justified {
  text-align: justify;
}

.center {
  text-align: center;
}

div.container-fluid {
  padding: 0;
}

.wrapper {
  font-family: $font-body;
  padding-bottom: 3em;
}
