@import './../variables';

#about-background {
  background-attachment: fixed;
  background-blend-mode: overlay, darken;
  background-color: $aqua-spring;
  background-image: url('./../img/code1.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

img.img-thumbnail {
  display: block;
  margin: 0 auto;
}

.dynamic-words {
  color: $orange;
}

.about-dynamic-header {
  padding: 15px;
}

.center-social {
  text-align: center;

  > a > i {
    color: $orange;
    padding-right: 20px;
    padding-top: 20px;

    &:hover {
      color: $blue;
    }
  }
}
