@import './../variables';

#about-background {
  background-attachment: fixed;
  background-blend-mode: overlay, darken;
  background-color: $light-grey;
  background-image: url('http://res.cloudinary.com/tanyapowell/image/upload/h_1349/f_auto,q_auto/tanya.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 4em;
  padding-top: 4em;
}

.about {
  color: $dark-grey;
}

img.img-thumbnail {
  display: block;
  margin: 0 auto;
}

.dynamic-words {
  color: $orange;
}

.about-dynamic-header {
  padding-bottom: 10px;
}

.center-social {
  text-align: center;

  > a > i {
    color: $orange;
    padding-right: 20px;
    padding-top: 20px;

    &:hover {
      color: $blue;
    }
  }
}
