@import './../variables', './../mixins';

#community-background {
  background-attachment: fixed;
  background-blend-mode: overlay, darken;
  background-color: $aqua-spring;
  background-image: url('./../img/community.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.communities {
  @include border-radius(5px);

  background-color: $white;
  text-align: justify;

}

img.img-rounded {
  height: auto;
  width: 250px;
}

div.col-md-6,
div.col-sm-12,
div.col-xs-12 {
  margin: 0, 0, 25px;
}
