@import './../variables', './../mixins';

#contact-background {
  // background-attachment: fixed;
  // background-blend-mode: overlay, darken;
  // background-color: $aqua-spring;
  // background-image: url('./../img/writing.jpg');
  // background-position: 50% 50%;
  // background-repeat: no-repeat;
  // background-size: cover;
}

h5 > a {
  color: $orange;

  &:hover {
    border-bottom: solid 1px $orange;
    color: $orange;
    text-decoration: none;
  }
}
