@import "./../_variables", "./_about", "./_contact", "./community",
        "./_skills", "./_talks", "./photography","./_portfolio";

#about-background, #community-background,
#contact-background, #skills-background,
#speaking-background, #photography-background,
#portfolio-background, #current-projects-background, #completed-projects-background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about, .community,
.contact, .skills,
.speaking, .photography,
.portfolio, .current, .completed {
  padding-bottom: 3em;
  padding-top: 3em;
  width: 75%;
  @include breakpoint(large) { width: 70%; }
  @include breakpoint(medium) { width: 80%; }
  @include breakpoint(small) { width: 95%; }
}
