@import './../variables', './about', './contact', './community',
        './skills', './talks', './photography','./portfolio', './thanks';

#about-background,
#community-background,
#contact-background,
#skills-background,
#speaking-background,
#photography-background,
#portfolio-background,
#current-projects-background,
#completed-projects-background,
#thanks-background {
  align-items: center;
  display: flex;
  justify-content: center;
}

.about,
.community,
.contact,
.skills,
.speaking,
.photography,
.portfolio,
.current,
.completed, 
.thanks {
  padding-bottom: 3em;
  padding-top: 3em;
  width: 65%;
  @include breakpoint(large) { width: 70%; }
  @include breakpoint(medium) { width: 80%; }
  @include breakpoint(small) { width: 95%; }
}

.current {
  padding-bottom: 3em;
  padding-top: 3em;
  width: 75%;
  @include breakpoint(large) { width: 90%; }
  @include breakpoint(medium) { width: 90%; }
  @include breakpoint(small) { width: 95%; }
}

.completed {
  padding-bottom: 3em;
  padding-top: 3em;
  width: 75%;
  @include breakpoint(large) { width: 90%; }
  @include breakpoint(medium) { width: 90%; }
  @include breakpoint(small) { width: 95%; }
}
