@import './../variables';

#photography-background {
  background-attachment: fixed;
  background-blend-mode: overlay, darken;
  background-color: $aqua-spring;
  background-image: url('~/public/imgcamera.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
