@import './../variables';

#photography-background {
  background-attachment: fixed;
  background-blend-mode: overlay, darken;
  background-color: $aqua-spring;
  background-image: url('http://res.cloudinary.com/tanyapowell/image/upload/h_1349/f_auto,q_auto/camera.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
