@import './../variables';

#current-projects-background {
  background-attachment: fixed;
  background-blend-mode: overlay, darken;
  background-color: $aqua-spring;
  background-image: url('http://res.cloudinary.com/tanyapowell/image/upload/h_1349/f_auto,q_auto/code.jpg');
  // background: #E6DADA;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.completed {
  padding-bottom: 2em;
}

.project {
  height: 20em;
  overflow: hidden;
  width: 20em;

  img.img-thumbnail {
    height: 20em;
    left: 0;
    position: relative;
    right: 0;
    width: 35em;
  }

  .caption {
    background: none repeat scroll 0 0 $dark-grey;
    bottom: 0;
    color: $blue;
    left: 0;
    opacity: .9;
    position: absolute;
    top: 80%;
    transition: bottom .5s, top .5s;
    vertical-align: bottom;

    > p {
      padding-left: 10px;
      padding-right: 10px;
    }

    > a > i {
      color: $white;
      display: block;

      &:hover {
        color: $orange;
        text-decoration: none;
      }
    }
  }

  &:hover .caption {
    bottom: 0%;
    top: 20%;
  }
}

.looped-heading {
  height: 3em;
}
