@import './../variables';

.skills {
  ul {
    list-style: none;
  }
}

.skillsList {
  -moz-columns: 3;
  -webkit-columns: 3;
  columns: 3;
}

.devicons {
  border: 1px dotted $blue;
  font-size: 24px;
  padding: 8px;
}
