@import "./../_variables";

#skills-background {
  // background-color: $orange;
}

.skills {
  ul {
    list-style: none;
  }
}

.skillsList {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}
