@import './../variables', './../mixins';

#thanks-background {
  background-attachment: fixed;
  background-blend-mode: overlay, darken;
  background-color: $aqua-spring;
  background-image: url('http://res.cloudinary.com/tanyapowell/image/upload/h_210/f_auto,q_auto/writing.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
